wall-description==0.0.0
table-description==0.0.0
py-joint-pub==0.0.0
msee22-description==0.0.0
py-joint-pub==0.0.0
msee22-description==0.0.0
moveit==0.1.3
moveit==2.5.9
moveit-configs-utils==2.5.9
srdfdom==2.0.8
moveit-task-constructor-msgs==0.1.3
launch-param-builder==0.1.1
ros2param==0.18.15
rqt-bag-plugins==1.1.5
rqt-py-console==1.0.2
examples-rclpy-minimal-client==0.15.5
ament-index-python==1.4.0
tf2-tools==0.25.18
osrf-pycommon==2.1.6
launch==1.0.13
ament-cpplint==0.12.14
examples-rclpy-executors==0.15.5
rqt-gui==1.1.9
examples-rclpy-minimal-action-server==0.15.5
ament-pep257==0.12.14
ros2run==0.18.15
ament-flake8==0.12.14
sensor-msgs-py==4.9.0
generate-parameter-library-py==0.6.0
rqt-publisher==1.5.0
ament-uncrustify==0.12.14
rqt-plot==1.1.5
launch-testing==1.0.13
ros2interface==0.18.15
ros2action==0.18.15
rqt-gui-py==1.1.9
launch-yaml==1.0.13
launch-xml==1.0.13
examples-rclpy-minimal-subscriber==0.15.5
demo-nodes-py==0.20.7
ros2cli==0.18.15
ament-lint==0.12.14
joint-state-publisher==2.4.0
ament-package==0.14.1
moveit-configs-utils==2.5.9
examples-rclpy-minimal-action-client==0.15.5
ros2launch==0.19.13
rqt-msg==1.2.0
ament-clang-format==0.12.14
rqt-reconfigure==1.1.2
ros2multicast==0.18.15
rosidl-cli==3.1.8
action-tutorials-py==0.20.7
joint-state-publisher-gui==2.4.0
ament-cppcheck==0.12.14
ros2doctor==0.18.15
topic-monitor==0.20.7
ros2topic==0.18.15
launch-param-builder==0.1.1
ros2controlcli==2.53.0
teleop-twist-keyboard==2.4.1
ros2plugin==5.1.3
rqt-topic==1.5.0
rqt-shell==1.0.2
tf-transformations==1.1.0
ros2pkg==0.18.15
rqt-srv==1.0.3
quality-of-service-demo-py==0.20.7
rqt-service-caller==1.0.5
ament-xmllint==0.12.14
launch-ros==0.19.13
examples-rclpy-minimal-service==0.15.5
ros2lifecycle==0.18.15
rpyutils==0.2.2
ros2node==0.18.15
examples-rclpy-minimal-publisher==0.15.5
ros2component==0.18.15
rqt-graph==1.3.1
rqt-console==2.0.3
ament-lint-cmake==0.12.14
tf2-ros-py==0.25.18
rosidl-runtime-py==0.9.3
ament-copyright==0.12.14
domain-coordinator==0.10.0
urdfdom-py==1.2.1
ros2service==0.18.15
launch-testing-ros==0.19.13
ros2test==0.4.0
rqt-bag==1.1.5
rqt-action==2.0.1
ros2bag==0.15.15
sros2==0.10.7
builtin-interfaces==1.2.2
std-msgs==4.9.0
moveit-msgs==2.2.1
interactive-markers==2.3.2
rosidl-typesupport-c==2.0.2
controller-manager==2.53.0
statistics-msgs==1.2.2
python-qt-binding==1.1.3
control-msgs==4.8.0
nav-msgs==4.9.0
srdfdom==2.0.7
qt-gui-cpp==2.2.4
pcl-msgs==1.0.0
rosidl-parser==3.1.8
visualization-msgs==4.9.0
qt-gui-py-common==2.2.4
rqt-py-common==1.1.9
rmw-dds-common==1.6.0
scripts==3.9.0
actionlib-msgs==4.9.0
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-introspection-cpp==3.1.8
rosbag2-py==0.15.15
rcl-interfaces==1.2.2
diagnostic-msgs==4.9.0
sensor-msgs==4.9.0
controller-manager-msgs==2.53.0
resource-retriever==3.1.3
pendulum-msgs==0.20.7
tf2-py==0.25.18
qt-gui==2.2.4
action-msgs==1.2.2
action-tutorials-interfaces==0.20.7
trajectory-msgs==4.9.0
qt-dotgraph==2.2.4
rosgraph-msgs==1.2.2
turtlesim==1.4.3
tf2-kdl==0.25.18
ur-dashboard-msgs==2.11.0
object-recognition-msgs==2.0.0
gazebo-msgs==3.9.0
message-filters==4.3.11
image-geometry==3.2.1
example-interfaces==0.9.3
cv-bridge==3.2.1
rosidl-typesupport-fastrtps-c==2.2.4
rosidl-generator-c==3.1.8
octomap-msgs==2.0.1
rosbag2-interfaces==0.15.15
rosidl-cmake==3.1.8
rosidl-adapter==3.1.8
laser-geometry==2.4.1
ament-cmake-test==1.3.12
ur-msgs==2.3.0
graph-msgs==0.2.0
lifecycle-msgs==1.2.2
ackermann-msgs==2.0.2
shape-msgs==4.9.0
logging-demo==0.20.7
stereo-msgs==4.9.0
rclpy==3.3.19
composition-interfaces==1.2.2
geometry-msgs==4.9.0
xacro==2.1.1
unique-identifier-msgs==2.2.1
rosidl-typesupport-fastrtps-cpp==2.2.4
tf2-geometry-msgs==0.25.18
tf2-msgs==0.25.18
rosidl-typesupport-introspection-c==3.1.8
tf2-sensor-msgs==0.25.18
std-srvs==4.9.0
rcutils==5.1.8
angles==1.15.0
rosidl-generator-py==0.14.6
map-msgs==2.1.0
rosidl-generator-cpp==3.1.8
adafruit-circuitpython-register==1.11.2
adafruit-circuitpython-connectionmanager==3.1.7
pydantic==2.13.3
stack-data==0.6.3
adafruit-circuitpython-busdevice==5.2.16
debugpy==1.8.19
nvidia-curand-cu12==10.3.9.90
scikit-learn==1.7.2
GitPython==3.1.46
sysv_ipc==1.2.0
triton==3.6.0
nvidia-nvjitlink-cu12==12.8.93
ecdsa==0.19.1
sympy==1.14.0
etils==1.13.0
typing-inspection==0.4.2
osqp==1.1.0
PyOpenGL==3.1.10
binho-host-adapter==0.1.6
paho-mqtt==2.1.0
intelhex==2.3.0
pyparsing==3.3.2
nvidia-cusparse-cu12==12.5.8.93
torch==2.10.0
executing==2.2.1
nvidia-cusolver-cu12==11.7.3.90
mpmath==1.3.0
esptool==4.7.0
nvidia-cuda-runtime-cu12==12.8.90
python-dateutil==2.9.0.post0
tornado==6.5.4
packaging==26.0
jupyter_core==5.9.1
pyftdi==0.57.1
nvidia-nvtx-cu12==12.8.90
pybullet==3.2.7
Adafruit-PlatformDetect==3.88.0
pure_eval==0.2.3
ImageIO==2.37.2
bitstring==4.3.1
scipy==1.15.3
importlib_resources==6.5.2
cuda-bindings==12.9.4
pyusb==1.3.1
glfw==2.10.0
cvxpy==1.7.5
exceptiongroup==1.3.1
parso==0.8.5
typing_extensions==4.15.0
joblib==1.5.3
ipykernel==7.1.0
nvidia-nvshmem-cu12==3.4.5
adafruit-circuitpython-typing==1.12.3
traitlets==5.14.3
threadpoolctl==3.6.0
fsspec==2025.12.0
jedi==0.19.2
Adafruit-Blinka==9.0.4
nvidia-cusparselt-cu12==0.7.1
mujoco==3.4.0
nvidia-cudnn-cu12==9.10.2.21
absl-py==2.3.1
wandb==0.26.0
cffi==2.0.0
ipython==8.38.0
filelock==3.20.3
scs==3.2.11
prompt_toolkit==3.0.52
nest-asyncio==1.6.0
nvidia-cufft-cu12==11.3.3.83
cuda-pathfinder==1.3.3
pycparser==3.0
nvidia-cublas-cu12==12.8.4.1
pyzmq==27.1.0
smmap==5.0.3
opencv-python==4.13.0.92
adafruit-circuitpython-requests==4.1.16
comm==0.2.3
sentry-sdk==2.58.0
nvidia-cuda-cupti-cu12==12.8.90
asttokens==3.0.1
nvidia-cuda-nvrtc-cu12==12.8.93
annotated-types==0.7.0
networkx==3.4.2
platformdirs==4.5.1
matplotlib-inline==0.2.1
urllib3==2.6.3
adafruit-circuitpython-mpu6050==1.3.6
nvidia-nccl-cu12==2.27.5
pydantic_core==2.46.3
clarabel==0.11.1
bitarray==3.8.0
nvidia-cufile-cu12==1.13.1.3
jupyter_client==8.8.0
contourpy==1.3.2
wcwidth==0.5.0
gitdb==4.0.12
protobuf==7.34.1
reedsolo==1.7.0
matplotlib==3.10.8
Adafruit-PureIO==1.1.11
transforms3d==0.4.2
pylint==2.12.2
types-PyYAML==5.4
setuptools==59.6.0
notify2==0.3
types-pytz==2021.1
types-docopt==0.6
flake8-comprehensions==3.8.0
catkin-pkg==1.1.0
docutils==0.17.1
colcon-package-selection==0.2.10
attrs==21.2.0
types-cachetools==4.2
wrapt==1.13.3
PyQt5-sip==12.9.1
requests==2.25.1
types-stripe==2.59
ptyprocess==0.7.0
Pillow==9.0.1
lz4==3.1.3+dfsg
types-ipaddress==1.0
types-docutils==0.17
types-commonmark==0.9
types-pyaudio==0.2
thonny==3.3.14
paramiko==2.9.3
iniconfig==1.1.1
appdirs==1.4.4
types-dataclasses==0.1
click==8.0.3
types-dateparser==1.0
types-psycopg2==2.9
distro-info==1.1+ubuntu0.2
terminator==2.1.1
types-click==7.1
nose2==0.9.2
olefile==0.46
protobuf==3.12.4
PyGObject==3.42.1
colcon-defaults==0.2.9
decorator==4.4.2
pluggy==0.13.0
types-enum34==1.1
dbus-python==1.2.18
python-dateutil==2.8.1
Babel==2.8.0
rospkg-modules==1.6.1
colcon-bash==0.5.0
types-simplejson==3.17
mypy==0.942
types-Jinja2==2.11
types-six==1.16
colcon-devtools==0.3.0
flake8-docstrings==1.6.0
types-protobuf==3.17
types-httplib2==0.19
types-PyMySQL==1.0
types-babel==2.9
lark==1.1.1
colcon-powershell==0.4.0
types-prettytable==2.1
types-itsdangerous==1.1
types-backports.ssl-match-hostname==3.7
types-beautifulsoup4==4.10
types-bleach==4.1
lazr.restfulclient==0.14.4
pyflakes==2.4.0
xkit==0.0.0
types-requests==2.25
vcstool==0.3.0
PyQt5==5.15.6
colcon-ros==0.5.0
types-pysftp==0.2
pytest==6.2.5
colcon-zsh==0.5.0
Mako==1.1.3
types-DateTimeRange==0.1
louis==3.20.0
future==0.18.2
gast==0.5.2
SecretStorage==3.3.1
idna==3.3
types-oauthlib==3.1
chardet==4.0.0
colcon-library-path==0.2.1
colcon-python-setup-py==0.2.9
types-freezegun==1.1
types-futures==3.3
asttokens==2.0.5
numpy==1.21.5
zipp==1.0.0
rosdep==0.26.0
distlib==0.3.4
types-termcolor==1.1
pyxdg==0.27
types-vobject==0.9
platformdirs==2.5.1
configobj==5.0.6
flake8-import-order==0.18.1
cryptography==3.4.8
xdg==5
colcon-parallel-executor==0.3.0
colcon-common-extensions==0.3.0
mypy-extensions==0.4.3
types-ujson==0.1
toml==0.10.2
types-certifi==2020.4
types-editdistance==0.5
mpmath==0.0.0
types-ttkthemes==3.2
coverage==6.2
types-redis==3.5
usb-creator==0.3.7
beautifulsoup4==4.10.0
colorama==0.4.4
types-chardet==4.0
types-cryptography==3.3
colcon-mixin==0.2.3
types-emoji==1.2
types-Send2Trash==1.8
types-Pillow==8.3
screen-resolution-extra==0.0.0
types-croniter==1.0
rosdistro==1.0.1
typed-ast==1.4.3
ufw==0.36.1
colcon-cmake==0.2.29
types-jmespath==0.10
types-html5lib==1.1
pythran==0.10.0
types-JACK-Client==0.1
webencodings==0.5.1
kiwisolver==1.3.2
html5lib==1.1
types-python-gflags==3.1
colcon-override-check==0.0.1
types-pytest-lazy-fixture==0.6
lxml==4.8.0
jedi==0.18.0
types-click-spinner==0.1
ply==3.11
tomli==1.2.2
types-MarkupSafe==1.1
fonttools==4.29.1
distro==1.7.0
types-backports-abc==0.5
colcon-package-information==0.4.0
ufoLib2==0.13.1
defer==1.0.6
Brlapi==0.8.3
colcon-argcomplete==0.3.3
pip==22.0.2
scipy==1.8.0
keyring==23.5.0
psutil==5.9.0
types-pyOpenSSL==20.0
colcon-output==0.2.13
six==1.16.0
MarkupSafe==2.0.1
pydot==1.4.2
types-tabulate==0.8
types-retry==0.9
snowballstemmer==2.2.0
cupshelpers==1.0
colcon-pkg-config==0.1.0
importlib-metadata==4.6.4
pexpect==4.8.0
jeepney==0.7.1
types-xxhash==2.0
types-annoy==1.17
apturl==0.5.2
types-Markdown==3.3
types-typed-ast==1.4
cycler==0.11.0
lazr.uri==1.0.6
pycups==2.0.1
types-jsonschema==3.2
pyparsing==2.4.7
unattended-upgrades==0.1
colcon-installed-package-information==0.2.1
PyYAML==5.4.1
PyNaCl==1.5.0
isort==5.6.4
monotonic==1.6
rosdistro-modules==1.0.1
fasteners==0.14.1
types-singledispatch==3.7
python-debian==0.1.43+ubuntu1.1
types-decorator==0.1
logilab-common==1.8.2
catkin-pkg-modules==1.1.0
types-aws-xray-sdk==2.8
macaroonbakery==1.3.1
pymacaroons==0.13.0
systemd-python==234
types-characteristic==14.3
pyRFC3339==1.1
argcomplete==1.8.1
matplotlib==3.5.1
types-python-nmap==0.6
oauthlib==3.2.0
duplicity==0.8.21
types-psutil==5.8
types-polib==1.1
colcon-notification==0.3.0
transforms3d==0.3.1
types-paramiko==2.7
netifaces==0.11.0
types-selenium==3.141
types-contextvars==0.1
Pygments==2.11.2
flake8-builtins==1.5.3
flake8==4.0.1
types-python-dateutil==2.8
PyJWT==2.3.0
py==1.10.0
types-Deprecated==1.2
types-humanfriendly==9.2
types-waitress==0.1
unicodedata2==14.0.0
Brotli==1.0.9
pycodestyle==2.8.0
parso==0.8.1
pygraphviz==1.7
rosdep-modules==0.26.0
flake8-quotes==3.3.1
launchpadlib==1.10.16
types-mypy-extensions==0.4
Jinja2==3.0.3
types-entrypoints==0.3
types-filelock==3.2
types-tzlocal==0.1
reportlab==3.6.8
beniget==0.4.1
urllib3==1.26.5
types-aiofiles==0.1
types-toml==0.10
lockfile==0.12.2
pytest-cov==3.0.0
types-setuptools==57.4
empy==3.3.4
colcon-metadata==0.2.5
python-apt==2.4.0+ubuntu4.1
pytz==2022.1
types-slumber==0.7
roman==3.3
types-python-slugify==5.0
astroid==2.9.3
soupsieve==2.3.1
pydocstyle==6.1.1
packaging==21.3
colcon-cd==0.2.1
Send2Trash==1.8.1b0
wheel==0.37.1
types-Flask==1.1
types-boto==2.49
types-caldav==0.8
sympy==1.9
types-atomicwrites==1.4
command-not-found==0.3
cov-core==1.15.0
fs==2.4.12
pycairo==1.20.1
types-mysqlclient==2.0
mpi4py==3.1.3
types-colorama==0.4
language-selector==0.1
colcon-recursive-crawl==0.2.3
wadllib==1.3.6
httplib2==0.20.2
typeguard==2.2.2
certifi==2020.6.20
types-Werkzeug==1.0
rospkg==1.6.1
more-itertools==8.10.0
types-pyRFC3339==0.1
types-pycurl==0.1
blinker==1.4
mccabe==0.6.1
types-mock==4.0
types-orjson==3.6
colcon-test-result==0.3.8
types-toposort==1.6
types-first==2.0
types-pyvmomi==7.0
types-appdirs==1.4
typing-extensions==3.10.0.2
types-braintree==4.11
types-Pygments==2.9
ubuntu-drivers-common==0.0.0
colcon-core==0.20.1
bcrypt==3.2.0
pyserial==3.5
lazy-object-proxy==0.0.0
ubuntu-pro-client==8001
types-frozendict==0.1
types-pyfarmhash==0.2
